In [1]:

#The total number of months included in the dataset (count)
#The total amount of revenue gained over the entire period (sum)
#The average change in revenue between months over the entire period 
#The greatest increase in revenue (date and amount) over the entire period 
#The greatest decrease in revenue (date and amount) over the entire period

import pandas as pd
import numpy as np
import os as os
import csv

In [2]:
#importing CSV File
#csv_path = "Generators/budget_data1.csv"
csv_path = "Generators/budget_data2.csv"

banks_df = pd.read_csv(csv_path, encoding="utf-8")
banks_df.head()

       Date  Revenue
0  1/1/2010   356218
1  2/1/2010   620718
2  3/1/2010   589166
3  4/1/2010  -240031
4  5/1/2010   130388

In [3]:
#Date count
date_count = len(banks_df['Date'].unique())

date_count

86

In [4]:
#Revenue sum
revenuesum = banks_df["Revenue"].sum()

print (revenuesum)

40101634

In [5]:
#Bringing in the percent change column
percentchange = banks_df["Revenue"].pct_change()
banks_df["Percent Change"] = percentchange

banks_df.head()

       Date  Revenue  Percent Change
0  1/1/2010   356218             NaN
1  2/1/2010   620718        0.742523
2  3/1/2010   589166       -0.050831
3  4/1/2010  -240031       -1.407408
4  5/1/2010   130388       -1.543213

In [6]:
banks_df= banks_df.sort_values("Percent Change", ascending=False)

banks_df.head()

         Date  Revenue  Percent Change
48   1/1/2014  1181050        8.142528
10  11/1/2010   565618        6.832309
78   7/1/2016   856523        4.867359
53   6/1/2014   850183        4.714056
71  12/1/2015  -873788        2.965743

In [7]:
#Reseting the index
banks_df = banks_df.reset_index(drop=True)
banks_df.head()

        Date  Revenue  Percent Change
0   1/1/2014  1181050        8.142528
1  11/1/2010   565618        6.832309
2   7/1/2016   856523        4.867359
3   6/1/2014   850183        4.714056
4  12/1/2015  -873788        2.965743

In [8]:
#Biggest price increase
big_increase = banks_df.loc[banks_df['Revenue'].idxmax()]
big_increase

Date              1/1/2014
Revenue            1181050
Percent Change     8.14253
Name: 0, dtype: object

In [9]:
#Biggest price decrease
big_decrease = banks_df.loc[banks_df['Revenue'].idxmin()]
big_decrease

Date              10/1/2011
Revenue            -1038468
Percent Change     -1.98671
Name: 73, dtype: object

In [10]:
#Convert to numeric 
banks_df["Percent Change"] = pd.to_numeric(banks_df["Percent Change"])

In [11]:
#Convert to numeric 
banks_df["Revenue"] = pd.to_numeric(banks_df["Revenue"])
banks_df.dtypes

Date               object
Revenue             int64
Percent Change    float64
dtype: object

In [12]:
average_percent = banks_df["Percent Change"].mean()
average_percent

-0.3168362729793804

In [13]:
print ("Total Months")
print(str(date_count))

print("-------------------------------------------")
print (f"Total Revenue")

print (str(revenuesum))

print("-------------------------------------------")
print ("Average Percent Change")

print (str(average_percent))

print("-------------------------------------------")
print ("Biggest Revenue Increase")
print (str(big_increase))
print("-------------------------------------------")
print ("Biggest Revenue Decrease")
print (str(big_decrease))
print("-------------------------------------------")

Total Months
86
-------------------------------------------
Total Revenue
40101634
-------------------------------------------
Average Percent Change
-0.3168362729793804
-------------------------------------------
Biggest Revenue Increase
Date              1/1/2014
Revenue            1181050
Percent Change     8.14253
Name: 0, dtype: object
-------------------------------------------
Biggest Revenue Decrease
Date              10/1/2011
Revenue            -1038468
Percent Change     -1.98671
Name: 73, dtype: object
-------------------------------------------

In [14]:

#Printing to text
import sys
temp = sys.stdout                 
sys.stdout = open('log.txt', 'w') 
print("------data 1-------") 
print("Total Months : 41")               
print("Total Revenue 18971412")
print("Average Percent Change: 0.19399241723920382")
print ("Biggest Revenue Increase:1195111")
print("Biggest Percentage Decrease:-1172384")
print("-------data 2-------") 
print("Total Months : 86") 
print("Total Revenue : 40101634")
print("Average Percent Change:-0.3168362729793804")
print ("Biggest Revenue Increase:1181050")
print ("Biggest Revenue Decrease:-1038468")
sys.stdout.close()                
sys.stdout = temp                 
print("back to normal")

back to normal