In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import time
import urllib
import datetime as dt

In [2]:
Measurements_path = "Resources/hawaii_measurements.csv"
Stations_path = "Resources/hawaii_stations.csv"
#Reading data
Measurement_df = pd.read_csv(Measurements_path, encoding="utf-8")
Stations_df = pd.read_csv(Stations_path, encoding="utf-8")

In [3]:
Measurement_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
Stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [5]:
Measurement_df.describe()

               prcp          tobs
count  18103.000000  19550.000000
mean       0.160644     73.097954
std        0.468746      4.523527
min        0.000000     53.000000
25%        0.000000     70.000000
50%        0.010000     73.000000
75%        0.110000     76.000000
max       11.530000     87.000000

In [6]:
Stations_df.describe()

        latitude   longitude   elevation
count   9.000000    9.000000    9.000000
mean   21.393826 -157.867098   60.977778
std     0.086442    0.103873  103.465547
min    21.271600 -158.011100    0.900000
25%    21.333100 -157.975100    7.000000
50%    21.393400 -157.837400   14.600000
75%    21.451670 -157.802500   32.900000
max    21.521300 -157.711390  306.600000

In [7]:
Stations_df.isnull().any()

station      False
name         False
latitude     False
longitude    False
elevation    False
dtype: bool

In [8]:
Measurement_df.isnull().any()

station    False
date       False
prcp        True
tobs       False
dtype: bool

In [9]:
surfsup_merge = pd.merge(Measurement_df, Stations_df, how="outer")
surfsup_merge.head()

,station,date,prcp,tobs,name,latitude,longitude,elevation
0,USC00519397,2010-01-01,0.08,65,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00519397,2010-01-02,0.00,63,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
2,USC00519397,2010-01-03,0.00,74,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
3,USC00519397,2010-01-04,0.00,76,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
4,USC00519397,2010-01-06,NaN,73,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0

In [10]:
surfsup_merge = surfsup_merge.dropna(how='any')

In [11]:
surfsup_merge.isnull().any()

station      False
date         False
prcp         False
tobs         False
name         False
latitude     False
longitude    False
elevation    False
dtype: bool

In [12]:
surfsup_merge.to_csv("Output/Clean_Surf.csv", index=False, header=True)